<div class="top">
  <div>
    <ense></ense>
  </div>
  <div><a [routerLink]="['/om']" routerLinkActive="active">Om</a></div>
</div>

<div class="middle">

  <p class="contact">
    Fredrik Lien Bjørgmo<br>
    <a href="mailto:fredrik@ense.no">fredrik@ense.no</a><br>
    (0047) 980 15 172
  </p>
  <p class="info">Med en bakgrunn som grafisk designer streber jeg etter å tenke utenkte tanker, formgi noe formløst,
    fortelle viktige historier og skape ikke-skapt innhold — som kan bidra til å løse reelle problemer. Jeg mener at
    oppvekst er en evig tilstand, og at forståelse er ett representativt ord. Jeg prøver å se problemer der andre ser
    symptomer — være en kritisk, og eksperimenterende designer som formgir på en informert, empatisk og inspirerende
    måte.
  </p>
</div>
