<div class="top">
  <div>
    <p [routerLink]="['/']"><b>Ense</b></p>
  </div>
  <div><a [routerLink]="['/om']">Om</a></div>
</div>

<div class="middle">

  <p class="contact">
    Fredrik Lien Bjørgmo<br>
    fredrik@ense.no <br>
    (0047) 980 15 172
  </p>
  <p class="info">Streber etter å tenke utenkte tanker, formgi noe formløst, fortelle viktige historier og skape
    ikke-skapt
    innhold,
    som kan bidra til å løse reelle problemer. Er fast bestemt på at oppvekst er en evig tilstand, og tror man gjennom
    forståelse, empati og innsikt kan se problemer der andre ser symptomer. Jeg tror det er nettopp denne egenskapen som
    gjør at jeg havner her. Jeg mener det å være designer ikke kommer av hvorvidt du kaller deg det — ei heller av hvor
    mye du har studert. Jeg håper å være en kritisk, eksperimenterende designer som formgir på en informert, empatisk og
    inspirerende måte.
  </p>
</div>
