<div class="top">
  <div>
    <ense></ense>
  </div>
  <div><a [routerLink]="['/om']">Om</a></div>
</div>
<div class="middle">
  <div class="image-wrapper">
    <div (click)="goLeft()" class="image"
         [ngStyle]="{'background-image': 'url(' + currentImage.url + ')'}">
    </div>
  </div>
  <div (click)="goLeft()" class="left-arrow"></div>
  <div (click)="goRight()" class="right-arrow"></div>
</div>
<div class="bottom">
  <div class="title-wrapper" [innerHtml]="currentImage.caption">
  </div>
</div>

<div style="display: none">
  <img *ngFor="let image of images" [src]="image.url">
</div>
