:host {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  padding: 0 39px;
  width: 100vw;
}

.top {
  display: flex;
  height: 10vh;
  min-height: 100px;
  justify-content: space-between;
  padding-top: 29px;
  z-index: 2;
}

.top a {
  text-decoration: none;
}

.top a:hover {
  text-decoration: underline;
}

.middle {
  height: 69vh;
  display: flex;
  align-items: center;
}

.bottom {
  display: flex;
  height: 21vh;
  justify-content: flex-end;
}

.top,
.bottom,
.middle {
  width: 100%;
}

.image-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  width: 80vw;
}

svg {
  fill: #333E48;

}
.title-wrapper {
  flex: 0 1 40%;
  height: 21vh;
  max-width: 500px;
  min-width: 360px;
  text-align: right;
}

p {
  margin: 0;
}

.title-wrapper hr {
  display: none;
}

.image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 69vh;
  max-width: 800px;
  width: 80vw;
}

.left-arrow,
.right-arrow {
  height: 25px;
  width: 25px;
}
